if [[ -f ".venv/bin/activate" ]]; then
    source ".venv/bin/activate"
fi

if [[ -d "${HOME}/.local/opt/potassco/debug" ]]; then
    export PYTHONPATH="${HOME}/.local/opt/potassco/debug/lib/python3.12/site-packages:${PWD}/build/debug/bin/python"
fi

unset PS1
