include setup.py
include pyproject.toml
include CMakeLists.txt
include LICENSE.md
include README.md
recursive-include app *
recursive-include cmake *
recursive-include libclingcon *
recursive-include third_party *
include libpyclingcon/*.c
include libpyclingcon/*.h
include libpyclingcon/CMakeLists.txt
recursive-include libpyclingcon/clingcon *.py *.typed
prune _skbuild
global-exclude *.py[cod]
