Source: clingcon
Section: devel
Priority: optional
Maintainer: Roland Kaminski <kaminski@cs.uni-potsdam.de>
Build-Depends: debhelper-compat (= 13), dh-python, cmake, python3-dev, clingo, libclingo-dev, python3-clingo
Standards-Version: 4.4.1
Homepage: https://potassco.org/
Vcs-Browser: https://github.com/potassco/clingcon
Vcs-Git: https://github.com/potassco/clingcon.git

Package: clingcon
Architecture: any
Section: devel
Depends: ${shlibs:Depends}, ${misc:Depends}, libclingcon (= ${binary:Version})
Description: A solver for logic programs with linear programming constraints
 Clingo-dl extends the clingo Answer Set Programming (ASP) system by
 integrating linear programming constraint solving. It enables modeling and
 solving problems involving linear constraints over real variables, making it
 suitable for applications such as scheduling, optimization, and planning.

Package: libclingcon
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libclingo
Description: The shared library for the clingcon package

Package: libclingcon-dev
Section: libdevel
Architecture: any
Depends: ${misc:Depends}, libclingcon (= ${binary:Version})
Description: The development files for the clingcon package

Package: python3-clingcon
Section: python
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python3:Depends}, libclingcon (= ${binary:Version})
Description: Python bindings for the clingcon package
